.About{
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 100px;
}

.About--heading{
  margin-bottom: 60px;
  text-align: center;
  color: #81ADEE;
  font-weight: lighter;
}

.About--contents{
  display: flex;
  flex-direction: row;
}

.video{
  height: 350px;
  margin-right: 200px;
  margin-bottom: 80px;
}


