.fb--heading{
  margin-left: 150px;
  color: rgb(128, 160, 247);
}

.fb--cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 80px;
  margin-top: 80px;
}

.fb--cards1{
  border: 1px solid black;
  padding-bottom: 45px;
  width: 350px;
  display: grid;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.cards1Image{
  width: 350px;
  border-radius: 15px 15px 0px 0px;
}

.fb--cards2{
  border: 1px solid black;
  padding-bottom: 45px;
  width: 350px;
  display: grid;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.cards2Image{
  width: 350px;
  border-radius: 15px 15px 0px 0px;
}

.fb--cards3{
  border: 1px solid black;
  padding-bottom: 45px;
  width: 350px;
  display: grid;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.cards3Image{
  width: 350px;
  border-radius: 15px 15px 0px 0px;
}

.cards--heading{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.card--readMore{
  margin-top: 10px;
  margin-left: 30px;
  font-size: 16px;
  color: rgb(128, 160, 247);
}