.featured--heading{
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px;
}

.featured--headingContent{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.subTitle{
  margin-right: 200px;
  font-size: 36px;
}

.featured--cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 80px;
  margin-top: 80px;
}

.featured--cards1{
  border: 1px solid black;
  padding: 5px 50px;
  padding-bottom: 45px;
  padding-top: 25px;
  width: 250px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.featured--cards2{
  border: 1px solid black;
  padding: 5px 50px;
  padding-bottom: 45px;
  padding-top: 25px;
  width: 250px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.featured--cards3{
  border: 1px solid black;
  padding: 5px 50px;
  padding-bottom: 45px;
  padding-top: 25px;
  width: 250px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
}

.featured--cards1Heading{
  margin-bottom: 20px;
}